<div class="calendar">
  <div class="name-month py-2" *ngFor="let nameMonth of weekDaysName">{{ nameMonth }}</div>
  <div
    class="text-secondary fw-light my-2 py-2 mx-1"
    *ngFor="let day of calendar.last"
    data-testid="previous"
  >{{ day }}</div>
  <div
    hover-day
    data-testid="day"
    class="link-underline link-underline-opacity-0 my-2 py-2 mx-1 position-relative"
    *ngFor="let day of calendar.current"
    [ngClass]="compateDate(day)"
    (click)="select(day)"
  >{{ day }}</div>
  <div
    class="text-secondary fw-light my-2 py-2 mx-1"
    *ngFor="let day of calendar.next"
    data-testid="next"
  >{{ day }}</div>
</div>
