.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;

  .cursor-click {
    cursor: pointer;
  }

  :nth-child(7n),
  :nth-child(7n-6) {
    color: var(--bs-danger);
  }

  :nth-child(7n-6) {
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
  }

  :nth-child(7n) {
    border-bottom-right-radius: var(--bs-border-radius-xxl) !important;
    border-top-right-radius: var(--bs-border-radius-xxl) !important;
  }

  .name-month {
    border: var(--bs-border-width) var(--bs-border-style)
      var(--bs-danger-border-subtle) !important;

    &:not(:nth-child(7n), :nth-child(7n-6)) {
      border-left: none !important;
      border-right: none !important;
    }

    &:nth-child(7n-6) {
      border: var(--bs-border-width) var(--bs-border-style)
        var(--bs-danger-border-subtle) !important;
      border-right: none !important;
    }

    &:nth-child(7n) {
      border: var(--bs-border-width) var(--bs-border-style)
        var(--bs-danger-border-subtle) !important;
      border-left: none !important;
    }
  }
}
