<nav aria-label="breadcrumb" class="progress-step">
  <h3 class="bi bi-arrow-left-short" (click)="previous()"></h3>
  <ol class="breadcrumb overflow-hidden text-center">
    <li class="breadcrumb-item" *ngFor="let step of quantitySteps">
      <span
        class="badge rounded-pill text-bg-secondary"
        [ngClass]="{
          'text-bg-success': isStep(step),
          'text-bg-indigo': step === stepActive
        }"
        >{{ step }}</span
      >
    </li>
  </ol>
  <h3 class="bi bi-arrow-right-short" (click)="next()"></h3>
</nav>
