<section class="row schedules" *ngIf="$schedules | async as schedules">
  <ng-container *ngIf="schedules.length > 0; else empty">
    <div class="col-md-6 col-xxl-4" *ngFor="let schedule of schedules; let index = index">
      <div class="card text-bg-light border-dark mb-3">
        <div class="card-body">
          <hr />
          <p tabindex="0" class="card-text p-2">
            <span class="fw-bold fs-4">
              {{ schedule.bullet_code | date:'dd/MM/yyyy' }} as {{ schedule.bullet_code | date:'HH:mm' }}
            </span><br />
            <span class="fst-italic fs-6">data e hora</span>
          </p>

          <hr />

          <div class="card-text d-flex align-items-end justify-content-around">
            <p tabindex="0" class="m-auto align-self-center">
              <span lang="en" class="fw-bold fs-5 text-uppercase">{{ schedule.schedule_status | lowercase
                }}</span><br />
              <span class="fst-italic fs-6">status atual </span><br />
            </p>
            <div class="vr"></div>
            <p tabindex="0" class="m-auto">
              <span class="fw-bold fs-5 text-uppercase">{{ schedule.type_service | lowercase }}</span><br />
              <span class="fst-italic fs-6">tipo de serviço </span>
            </p>
          </div>

          <hr />

          <div class="card-text d-flex justify-content-end mt-4" *ngIf="viewButtonCancelSchedule(schedule)">
            <ng-template #buttonCancel>
              <button
                tabindex="0"
                type="button"
                class="btn btn-danger text-end"
                data-testId="cancel-button"
                (click)="cancelSchedule(schedule)"
              > {{ 'cancelar' | uppercase }}</button>
            </ng-template>

            <button
              *ngIf="loadingCancel$ | async as loading; else buttonCancel"
              disabled
              tabindex="0"
              type="button"
              class="btn btn-danger text-end"
              data-testId="cancel-loading-button"
            >
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="d-flex justify-content-center">
      <p data-testId="empty-list" class="text-muted font-montserrat mt-3">
        Nenhum agendamento para este usuário
      </p>
    </div>
  </ng-template>
</section>

<div class="modal fade" id="modal-cancel" #modalCancelTemplate>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="scheduleSelectedToCancel">
      <div class="modal-header">
        <h4 class="modal-title fst-italic" data-testId="modal-title-cancel">cancelar agendamento</h4>
        <button
          type="button"
          class="btn-close"
           aria-label="Close"
          (click)="modalTemplate?.toggle()"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Você quer realmente cancelar o agendamento do dia?
        </p>
        <strong class="fst-italic">
          {{ scheduleSelectedToCancel.bullet_code | date:'dd/MM/yyyy' }} as
          {{ scheduleSelectedToCancel.bullet_code | date:'HH:mm' }}
        </strong>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-indigo"
          (click)="modalTemplate?.toggle()"
        >{{ 'não, fechar' | uppercase }}</button>
        <button
          type="button"
          class="btn btn-outline-indigo"
          data-testId="confirm-cancel-button"
          (click)="confirmCancelSchedule()"
        >{{ 'sim, cancelar' | uppercase }}</button>
      </div>
    </div>
  </div>
