<section class="card bg-light p-4 border border-0 rounded-4">
  <div class="row" *ngIf="loading$ | async; else animals_list">
    <div class="col-12 d-flex justify-content-center">
      <div class="spinner-grow text-dark" role="status">
        <span data-testId="loading-spinner-text" class="visually-hidden"
          >Loading...</span
        >
      </div>
    </div>
  </div>

  <ng-template #animals_list>
    <div class="row" *ngIf="animals$ | async as animals">
      <div class="col-12">
        <div class="table-responsive" *ngIf="animals.length > 0; else empty">
          <table class="table table-hover font-montserrat">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th><span class="visually-hidden">Ação</span></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr
                data-testId="list-animals"
                *ngFor="let animal of animals; index as index"
              >
                <td
                  class="align-content-center"
                  [attr.data-testId]="'list-animals-name-' + index"
                >
                  {{ animal?.name }}
                </td>
                <td
                  class="align-content-center"
                  [attr.data-testId]="'list-animals-type-' + index"
                >
                  {{ animal?.type }}
                </td>
                <td
                  class="align-content-center"
                  [attr.data-testId]="'list-animals-age-' + index"
                >
                  {{ animal?.age }}
                </td>
                <td
                  class="align-content-center"
                  [attr.data-testId]="'list-animals-action-' + index"
                >
                  <button
                    [attr.data-testId]="'action-button-' + index"
                    class="btn btn-primary-outline"
                    data-bs-toggle="dropdown"
                    type="button"
                  >
                    <span
                      class="bi bi-three-dots-vertical"
                      aria-label="Action user"
                    ></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #empty>
          <div class="d-flex justify-content-center">
            <p data-testId="empty-list" class="text-muted font-montserrat mt-3">
              Nenhum animal encontrado
            </p>
          </div>
        </ng-template>
      </div>

      <button
        type="button"
        class="btn btn-indigo col-md-2 offset-md-10"
        data-testId="button-navigate-user-create"
        routerLink="create"
      >
        Adicionar cliente
      </button>
    </div>
  </ng-template>
</section>
