<ng-container *ngIf="isLoadingBullet$ | async; else calendarTemplate">
  <div class="spinner-border" role="status" data-testid="loading-page">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-container>

<ng-template #calendarTemplate>
  <div class="card border-0 mx-auto" data-testid="card-page">
    <ng-container *ngIf="bulletError$ | async as error">
      <div
        data-testId="alert-error"
        class="mt-3 alert alert-danger"
        role="alert"
      >
        {{ error }}
      </div>
    </ng-container>
    <div *ngIf="calendar$ | async as calendar">
      <div class="text-center p-3 rounded-5">
        <div class="row text-center my-4">
          <div
            class="col"
            data-testid="previous-month"
            (click)="previousMonth()"
          >
            <h3 class="bi bi-arrow-bar-left"></h3>
          </div>
          <div class="col">
            <div data-testid="month-year-date">
              {{ monthAndFullYear(calendar.date) | uppercase }}
            </div>
          </div>
          <div class="col" data-testid="next-month" (click)="nextMonth()">
            <h3 class="bi bi-arrow-bar-right"></h3>
          </div>
        </div>

        <app-dates
          data-testid="app-dates"
          [bulletsDateAvailable]="datesAvailable$ | async"
          [calendar]="calendar"
          (day)="selectDay($event)"
        ></app-dates>
      </div>
    </div>
  </div>
</ng-template>
